<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="graphScopes" value="User.ReadWrite.All Group.ReadWrite.All" />
    <add key="userAgent" value="ODG/0.1" />
  </appSettings>
</configuration>