<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="clientId" value="408834b2-7533-4706-9704-58152b1d5182" />
    <add key="graphScopes" value="User.ReadWrite.All" />
  </appSettings>
</configuration>